#form_section_cm{
    align-items: center;
    border-radius: 25px;
    width: 250px;
    height: 450px;
    margin: 50px;
}

#form_div_cm{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: form;
    max-height: 500px;
}

#input_description{
    width: 400px; height: 200px;
}

#conteudo_principal_comunidade{
    display: grid;
    grid-template-areas: 'form coment'
    
    
}

#section_coment{
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 100px;
    grid-area: coment;

}
#tstes{
    grid-area: teste;

}
@media(max-width:425px){
    #input_description{
        width: 250px; 
        height: 150px;
    }
    
}

